<ngx-datatable
  *ngIf="visible"
  class="material"
  [style.width]="'100%'"
  [columnMode]="'flex'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [selectionType]="'checkbox'"
  [rows]="rows"
  [trackByProp]="unspsc"
  [scrollbarH]="true"
  [treeFromRelation]="'parentUnspsc'"
  [treeToRelation]="'unspsc'"
  (treeAction)="onTreeAction($event)">

  <ngx-datatable-column [checkboxable]="true" [frozenLeft]="true" [flexGrow]="0.5">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Supply Name" prop="name" [frozenLeft]="true" [flexGrow]="4" [isTreeColumn]="true">
    <ng-template let-column="column" ngx-datatable-header-template>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
        <span>{{column.name}}</span>
        <mat-form-field>
          <mat-select [value]="levelsExpanded" (selectionChange)="setLevelsExpanded($event)" placeholder="Expand Levels">
            <mat-option value="-1">Collapse All</mat-option>
            <mat-option value="0">Level 0</mat-option>
            <mat-option value="1">Level 1</mat-option>
            <mat-option value="2">Level 2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
    <ng-template ngx-datatable-tree-icon let-tree="treeStatus">
      <i *ngIf="tree==='loading'"
        class="icon datatable-icon-collapse"></i>
      <i *ngIf="tree==='collapsed'"
        class="icon datatable-icon-up"></i>
      <i *ngIf="tree==='expanded'"
        class="icon datatable-icon-down"></i>
      <i *ngIf="tree==='disabled'"
        class="disabled icon datatable-icon-down"></i>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Avg Cost" prop="avgCost" [flexGrow]="1">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <!-- Physician/Facility/Encounter -->
  <div *ngFor="let dr of rows[0]?.doctors; let rows = rows; index as i;">
    <ngx-datatable-column name="{{dr.name}} Qty" prop="doctors.{{i}}.qty" [flexGrow]="1">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{dr.name}} Cost" prop="doctors.{{i}}.cost" [cellClass]="getCellClass" [flexGrow]="1">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <!-- <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template>
        <div fxFlex fxLayout="row" fxLayoutAlign="end end">
          <mat-form-field>
            <input matInput placeholder="Search" (keyup)='updateFilter($event)'>
          </mat-form-field>
        </div>
      </ng-template>
    </ngx-datatable-footer> -->

  </div>

</ngx-datatable>
