<div>
  <h3>
    Supply Cost Tree
  </h3>
  <ngx-datatable
    class="material fullscreen"
    style="top: 52px"
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [selectionType]="chkbox"
    [rows]="rows"
    [trackByProp]="unspsc"
    [scrollbarH]="true"
    [treeFromRelation]="'parentUnspsc'"
    [treeToRelation]="'unspsc'"
    (treeAction)="onTreeAction($event)">

    <ngx-datatable-column [checkboxable]="true" [frozenLeft]="true" [flexGrow]="0.5">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [frozenLeft]="true" [flexGrow]="1">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button *ngIf="row.treeStatus != 'disabled'" type="button" (click)="expandTree(row)">Exp Level</button>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Supply Name" prop="name" [flexGrow]="4" [isTreeColumn]="true">
      <ng-template let-column="column" ngx-datatable-header-template>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <span>{{column.name}}</span>
          <select id="level-select"
            (change)="setLevelsExpanded($event)"
            [value]="levelsExpanded">
            <option value="-1">Collapse All</option>
            <option value="0">Level 0</option>
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
          </select>
          <!-- <mat-form-field>
            <mat-select [(value)]="levelsExpanded" (selectionChange)="setLevelsExpanded($event)">
              <mat-option value="option1">Level 1</mat-option>
              <mat-option value="option2">Level 2</mat-option>
              <mat-option value="option3">Level 3</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
      <ng-template ngx-datatable-tree-icon let-tree="treeStatus">
        <i *ngIf="tree==='loading'"
          class="icon datatable-icon-collapse"></i>
        <i *ngIf="tree==='collapsed'"
          class="icon datatable-icon-up"></i>
        <i *ngIf="tree==='expanded'"
          class="icon datatable-icon-down"></i>
        <i *ngIf="tree==='disabled'"
          class="disabled icon datatable-icon-down"></i>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Avg Cost" prop="avgCost" [flexGrow]="1">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <!-- Physician A -->
    <div *ngFor="let dr of rows[0]?.doctors; let rows = rows; index as i;">
      <ngx-datatable-column name="{{dr.name}} Qty" prop="doctors.{{i}}.qty" [flexGrow]="1">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{dr.name}} Cost" prop="doctors.{{i}}.cost" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
    </div>

  </ngx-datatable>
</div>
